.heraldPlayerlist {
    position: fixed;
    /* top: 25vh;
    left: 15vw; */
    transform: translateX(-50%);
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 190px;
}

.heraldPlayerlist-container {
    display: flex;

}


.heraldPlayerlist-playerContainer {
    display: flex;
    justify-content: space-between;


}

.heraldPlayerlist-playerActor {
    width: 100%
}

.heraldPlayerlist-leftContainer {
    flex: 0 0 auto;
    width: 41px;
    height: 41px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2.5px solid #d4af37;
    border-radius: 50%;
    z-index: 5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.heraldPlayerlist-actorImage {
    width: 35px;
    height: 35px;
    border: none;
    object-fit: cover;
}

/* .heraldPlayerlist-leftActor {
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    
    z-index: 5;
} */



.heraldPlayerlist-rightContainer {
    width: 100%;
}


.heraldPlayerlist-tokenname {

    position: absolute;
    font-weight: bold;
    margin-top: 8px;
    color: #ffffff;
    margin-left: 5px;
    text-shadow: 2px 2px 4px black;
}

.heraldPlayerlist-hpbarContainer {
    position: absolute;
    margin-top: 25px;
    left: 40px;
    width: 150px;
    height: 16px;
    background-color: rgb(46, 46, 46);
    border: 2px solid transparent;
    border-radius: 5px;
    box-sizing: border-box;
    background-clip: padding-box;
    border-image: linear-gradient(90deg,
            #d4af37,
            #b8860b,
            #d4af37) 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);

}

.heraldPlayerlist-hpbar {
    width: 0;
    height: 100%;
    background: linear-gradient(to right, black, #389454);
    position: relative;
    overflow: hidden;
    transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.heraldPlayerlist-hpvalue {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: white;
    pointer-events: none;
}

.heraldPlayerlist-tempmaxhp {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 11px;
  
    pointer-events: none;
}

.heraldPlayerlist-tempbartop {
    position: absolute;
    top: -5px;
    height: calc(100% + 10px);
    border-top: 3px solid transparent;

    border-image: linear-gradient(to right, white, rgb(26, 209, 255)) 1;
    box-sizing: border-box;
    pointer-events: none;
    transition: width 0.5s ease-in-out;
}

.heraldPlayerlist-tempbarbottom {
    position: absolute;
    top: -5px;
    height: calc(100% + 10px);

    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right, white, rgb(26, 209, 255)) 1;
    box-sizing: border-box;
    pointer-events: none;
    transition: width 0.5s ease-in-out;
}


.heraldPlayerlist-tempvalue {
    position: absolute;
    font-size: 16px;
    color: rgb(26, 209, 255);
    left: 150px;
    top: -4px;
}

.heraldPlayerlist-armorclass {

    z-index: 10;
}

.heraldPlayerlist-armorclassimage {
    position: absolute;
    margin-top: -15px;
    width: 20px;
    height: 20px;
    border: none;
    z-index: 10;
}

.heraldPlayerlist-armorclassvalue {
    position: absolute;
    font-size: 9px;
    left: 19px;
    margin-top: -11px;
    color: white;
    z-index: 11;
 
}

.heraldPlayerlist-tempshield {
    position: absolute;
    left: 35px;
    margin-top: -15px;
    z-index: 6;
}

.heraldPlayerlist-imgtempshield {
    width: 15px;
    border: none;
}



/* .heraldPlayerlist-lowerbar {

    display: flex;

} */

.heraldPlayerlist-listeffect {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-top: 4px;
    gap: 2px;
    margin-left: 2vw;
}

.heraldPlayerlist-playerEffect {
    border: 1px solid white;
    width: 15px;
    height: 15px;
}


.heraldPlayerlist-effecttooltip {
    width: 200px;
    position: fixed;
    margin-bottom: 10px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    font-size: 12px;
    z-index: 1000;
}


.heraldPlayerlist-detaileffecttop {
    display: flex;
}

.heraldPlayerlist-detaileffectduration {
    padding: 4px;
    display: inline-block;
    background-color: rgba(255, 51, 0, 0.5);
    border-radius: 4px;
}

.heraldPlayerlist-detaileffecttype {
    padding: 4px;
    display: inline-block;
    background-color: rgba(0, 140, 255, 0.5);
    border-radius: 4px;
}

.heraldPlayerlist-effectcontainer {
    position: relative;
    display: inline-block;
}

.heraldPlayerlist-stackeffect {
    position: absolute;
    font-size: 10px;
    color: white;
    text-shadow: 2px 2px 4px black;
    padding: 0;
    bottom: 2px;
    right: 2px;
}