.heraldPlayerlist {
    position: fixed;
    top: 20vh;
    left: -100vw;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    flex-direction: column;

    width: 190px;
}

.heraldPlayerlist-container {
    display: flex;

}

.heraldPlayerlist-playerContainer {
    display: flex;
    justify-content: space-between;


}

.heraldPlayerlist-playerActor {
    width: 100%;
    display: flex;
    margin-bottom: 5px;
    gap: 8px;
}

.heraldPlayerlist-leftContainer {
    z-index: 10;
}

.heraldPlayerlist-listPlayer {
    width: 0;
}

.heraldPlayerlist-actorImageContainer {}

.heraldPlayerlist-actorImageDiv {
    position: relative;
    flex: 0 0 auto;
    width: 41px;
    height: 41px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2.5px solid #d4af37;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.heraldPlayerlist-actorImage {
    width: 99%;
    height: 99%;
    border: none;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.heraldPlayerlist-rightContainer {
    width: 100%;
}


.heraldPlayerlist-tokenname {
    position: absolute;
    font-weight: bold;
    margin-top: 8px;
    color: #FFA500;
    font-size: 10px;
    margin-left: 5px;
    text-shadow: 2px 2px 4px black;
}

.heraldPlayerlist-hpbarContainer {
    position: relative;
    margin-top: 25px;
    right: 11%;
    width: 150px;
    height: 16px;
    background-image: linear-gradient(90deg, #d4af37, #b8860b, #d4af37);

    border-radius: 5px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);

    display: flex;

    align-items: center;
    justify-content: center;
}

.heraldPlayerlist-hpbarBackground {
    width: calc(100% - 4px);

    height: calc(100% - 4px);

    background-color: rgb(46, 46, 46);

    border-radius: 3px;

    position: absolute;

    top: 2px;

    left: 2px;

}

.heraldPlayerlist-hpbar {
    width: 0%;

    height: 100%;

    background: linear-gradient(to right, black, #389454);

    position: absolute;

    transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;

}


.heraldPlayerlist-hpattributesvalue {
    position: relative;
    display: flex;
    z-index: 1;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}


.heraldPlayerlist-hpvalue {
    font-size: 12px;
    color: white;
    pointer-events: none;

}

.heraldPlayerlist-tempmaxhp {
    font-size: 10px;
    font-weight: bold;
    pointer-events: none;
    padding-left: 2px;
}

.heraldPlayerlist-tempbartop {
    position: absolute;
    top: -5px;
    height: calc(100% + 10px);
    border-top: 3px solid transparent;

    border-image: linear-gradient(to right, white, rgb(26, 209, 255)) 1;
    box-sizing: border-box;
    pointer-events: none;
    transition: width 0.5s ease-in-out;
}

.heraldPlayerlist-tempbarbottom {
    position: absolute;
    top: -5px;
    height: calc(100% + 10px);

    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right, white, rgb(26, 209, 255)) 1;
    box-sizing: border-box;
    pointer-events: none;
    transition: width 0.5s ease-in-out;
}


.heraldPlayerlist-tempvalue {
    position: absolute;
    font-size: 16px;
    color: rgb(26, 209, 255);
    left: 150px;
    top: -4px;
}

.heraldPlayerlist-armorclass {
    position: relative;
    z-index: 10;
}

.heraldPlayerlist-armorclassimage {
    position: absolute;
    margin-top: -15px;
    width: 20px;
    height: 20px;
    border: none;
    z-index: 10;
}

.heraldPlayerlist-armorclassvalue {
    position: absolute;
    font-size: 9px;
    left: 5%;
    transform: translate(-50%, -100%);
    color: white;
    z-index: 11;
    -webkit-transform: translate(-50%, -100%);
    -moz-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    -o-transform: translate(-50%, -100%);
}


.heraldPlayerlist-tempshield {
    position: absolute;
    left: 11%;
    margin-top: -14px;
    z-index: 11;
}

.heraldPlayerlist-imgtempshield {
    width: 15px;
    border: none;
}


.heraldPlayerlist-listeffect {
    display: grid;
    grid-template-columns: repeat(8, 18px);
    margin-top: 4px;
    margin-left: 2vw;

}

.heraldPlayerlist-playerEffect {
    border: 1px solid white;
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.heraldPlayerlist-effecttooltip {
    width: 200px;
    position: fixed;
    margin-bottom: 10px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    font-size: 12px;
    z-index: 1000;
}


.heraldPlayerlist-detaileffectbot {
    display: flex;
    gap: 5px;
}

.heraldPlayerlist-detaileffectduration {
    padding: 4px;
    display: inline-block;
    background-color: rgba(255, 51, 0, 0.5);
    border-radius: 4px;
}

.heraldplayerlist-detaileffectdisable {
    padding: 4px;
    display: inline-block;
    background-color: rgb(179, 0, 0);
    border-radius: 4px;
}

.heraldPlayerlist-detaileffecttype {
    padding: 4px;
    display: inline-block;
    background-color: rgba(0, 140, 255, 0.5);
    border-radius: 4px;
}

.heraldPlayerlist-effectcontainer {
    position: relative;
    display: inline-block;
}

.heraldPlayerlist-stackeffect {
    position: absolute;
    font-size: 10px;
    color: white;
    text-shadow: 2px 2px 4px black;
    padding: 0;
    bottom: 2px;
    right: 2px;
}


.heraldPlayerlist-collapseButton {
    background-color: rgba(0, 0, 0, 0.7);
    width: 30px;
    height: 30px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
    z-index: 15;
    justify-items: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}



.heraldPlayerlist-collapsePlayerContainer {
    flex: 0 0 auto;
    width: 25px;
    height: 25px;
    background-color: #f0f0f0;
    display: flex;
    border: 2.5px solid #d4af37;
    z-index: 5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.heraldPlayerlist-actorImageCollapse {
    width: 20px;
    height: 20px;
    border: none;
    object-fit: cover;
}


.heraldPlayerlist-actorTooltip {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 13;
    white-space: nowrap;
    transform: translateX(10px);
    width: 275px;
    height: 175px;
}




.heraldPlayerlist-actorStatusTop {

    display: flex;
    gap: 15px;
}

.heraldPlayerlist-actorStatusLeft div {
    margin-bottom: 4px;
}

.heraldPlayerlist-actorStatusRight div {
    margin-bottom: 4px;
}

.heraldPlayerlist-actorStatusBottom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    gap: 5px;
}

.heraldPlayerlist-detailActorInspiration {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    margin-right: 10px;
    margin-bottom: -10px;
}

.heraldPlayerlist-actorDetailStatusBottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5px;
    font-size: 14px;
    padding: 5px;
    width: 100%;
}

.heraldPlayerlist-detailActorMovement>div {
    margin-bottom: 4px;
}

/* npc list */





.heraldPlayerlist-collapseButtonNpc {
    position: relative;
    left: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 30px;
    height: 30px;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 15;
    justify-items: center;
}

.heraldPlayerlist-npcButtonCollapseActor {
    position: absolute;
    right: 0;
}

.heraldPlayerlist-collapseNpclistButton {
    font-size: 12px;
    width: 15px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}

#heraldPlayerlist-npclist {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    left: 10%;
    gap: 25px;

}

.heraldPlayerlist-npc {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heraldPlayerlist-npcWrapper {
    position: relative;
    display: inline-block;
}

.heraldPlayerlist-npcImageContainer {
    position: relative;
    left: 50%;
    top: 15px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #363636;
    border: 2px solid #d4af37;
    z-index: 8;
    cursor: pointer;
}

.heraldPlayerlist-npcimageview {
    width: 99%;
    height: 99%;
    border: none;
    object-fit: cover;
    object-position: center;
    z-index: 8;
    border-radius: 50%;
}

.heraldPlayerlist-npcTooltip {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 15;
    white-space: nowrap;
    transform: translateX(10px);
    width: 275px;
    height: 175px;
}

.heraldPlayerlist-npcbar {
    position: absolute;
    top: 20%;
    left: 70%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    z-index: 6;
}

.heraldPlayerlist-npcBarBorderContainer {
    z-index: 6;
}

.heraldPlayerlist-npcBarBorderTop {
    position: absolute;
    top: 13%;
    left: 62%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    z-index: 11;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: 6;
}

.heraldPlayerlist-npcBarBorderBottom {
    position: absolute;
    top: 31%;
    left: 79%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    z-index: 6;
}

.heraldPlayerlist-npchpcontainer {
    transform: rotate(110deg);
    -webkit-transform: rotate(110deg);
    -moz-transform: rotate(110deg);
    -ms-transform: rotate(110deg);
    -o-transform: rotate(110deg);
    z-index: 6;
}


.heraldPlayerlist-npchpbackground {
    fill: none;
    stroke: rgb(46, 46, 46);
    stroke-width: 10;

}

.heraldPlayerlist-npchpbar {
    fill: none;
    stroke: #4caf50;
    stroke-width: 10;
    /* transition: stroke-dashoffset 0.5s ease; */
}


.heraldPlayerlist-npcBorderTop {
    fill: none;
    stroke: rgb(26, 209, 255);
    stroke-width: 2;
    pointer-events: none;
    stroke-linecap: round;
    z-index: 6;
}



.heraldPlayerlist-npcBorderBottom {
    fill: none;
    stroke: rgb(26, 209, 255);
    stroke-width: 2;
    pointer-events: none;
    stroke-linecap: round;
    z-index: 6;
}


.heraldPlayerlist-npcACContainer {
    z-index: 10;
}

.heraldPlayerlist-npcACImage {
    position: absolute;
    left: 120%;
    bottom: -25%;
    width: 20px;
    height: 20px;
    border: none;
    z-index: 8;
}

.heraldPlayerlist-npcACValue {
    position: absolute;
    font-size: 9px;
    left: 149%;
    bottom: -41%;
    transform: translate(-50%, -100%);
    color: white;
    z-index: 9;
    -webkit-transform: translate(-50%, -100%);
    -moz-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    -o-transform: translate(-50%, -100%);
}



.heraldPlayerlist-npchpvalue {
    position: absolute;
    top: 165%;
    right: 40%;
    font-size: 9px;
    color: white;
    font-weight: bold;

}

.heraldPlayerlist-npctempvalue {
    position: absolute;
    font-size: 10px;
    color: rgb(26, 209, 255);
    left: 15%;
    top: 190%;
}


.heraldPlayerlist-npctempshield {
    position: absolute;
    top: 130%;
    left: 77%;
    z-index: 9;
    width: 15px;
}


.heraldPlayerlist-npcimgtempshield {
    width: 15px;
    border: none;
}



.heraldPlayerlist-npcStatus {

    display: flex;
    gap: 15px;
}

.heraldPlayerlist-npcStatusLeft div {
    margin-bottom: 4px;
}

.heraldPlayerlist-npcStatusRight div {
    margin-bottom: 4px;
}

.heraldPlayerlist-npcStatus2 {
    position: absolute;
    bottom: 0;
    right: 0;


    padding: 10px;
    color: white;
}

.heraldPlayerlist-npcLevel {
    display: flex;
}

.heraldPlayerlist-npcLevel>div {
    margin-right: 2px;
}

.heraldPlayerlist-detailNpcMovement>div {
    margin-bottom: 4px;
}